* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

article{
  border-radius: 5px;
  height: 500 px;
  background-color: whitesmoke;
  padding: 15px;
}

img{
  border-radius: 5px;
  width: 150px;

}

h2{
  text-transform: uppercase;
}

.account{
  color:grey
}

button{
  border: none;
  background-color: transparent;
  color:rgb(75, 174, 249);
  padding: 0;
}

